In [5]:
import pandas as pd

# URL to the CSV file
url1 = "https://osf.io/g72pq/download"

# Read the CSV into a pandas DataFrame
df1 = pd.read_csv(url1)

C:\Users\lazyl\AppData\Local\Temp\ipykernel_11236\2722588165.py:7: DtypeWarning: Columns (22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(url1)

In [6]:
# Set pandas to display all columns
pd.set_option('display.max_columns', None)

In [7]:
df1.head()

,Unnamed: 0,id,date,time,gender,age,natlangs,primelangs,dyslexia,psychiatric,education,tests,Eng_start,Eng_country_yrs,house_Eng,dictionary,already_participated,countries,currcountry,US_region,UK_region,Can_region,Ebonics,Ir_region,UK_constituency,nat_Eng,prime_Eng,speaker_cat,type,Lived_Eng_per,Eng_little,q1,q2,q3,q5,q6,q7,q9_1,q9_4,q10_2,q10_4,q11_3,q11_4,q12_1,q12_2,q12_4,q13_3,q13_4,q14_3,q14_4,q15_1,q15_2,q15_3,q16_3,q16_4,q17_1,q17_3,q17_4,q18_2,q18_3,q18_4,q19_1,q19_2,q19_3,q19_4,q20_1,q20_2,q20_3,q20_4,q21_1,q21_2,q21_3,q21_4,q22_1,q22_2,q22_3,q22_4,q23_3,q23_4,q24_1,q24_2,q24_3,q24_4,q25_1,q25_2,q25_3,q25_4,q26_1,q26_2,q26_3,q26_4,q27_1,q27_2,q27_3,q27_4,q28_1,q28_2,q29_1,q29_2,q29_3,q29_4,q30_1,q30_2,q30_3,q30_4,q31_1,q31_4,q32_5,q32_6,q32_8,q33_4,q33_5,q33_6,q33_7,q34_1,q34_2,q34_3,q34_4,q34_6,q34_8,q35_1,q35_2,q35_4,q35_5,q35_7,q35_8,correct,elogit
0,1,2.0,2014-05-29,01:00:55,male,31,English,English,0,0,Graduate Degree,",WhichEnglish",0,NaN,NaN,0,0,United States,United States,none,NaN,NaN,0,NaN,NaN,1,1,native,United States,NaN,monoeng,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0.978947,3.621671
1,2,3.0,2014-05-29,01:01:03,male,30,English,English,0,1,Undergraduate Degree (3-5 years higher ed),",WhichEnglish",0,NaN,NaN,0,0,"Colombia, Japan, United Kingdom",Colombia,NaN,England,NaN,NaN,NaN,HP,1,1,native,NaN,NaN,monoeng,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1.000000,5.252273
2,3,3.0,2014-05-29,01:01:03,male,30,English,English,0,1,Undergraduate Degree (3-5 years higher ed),",WhichEnglish",0,NaN,NaN,0,0,"Colombia, Japan, United Kingdom",Colombia,NaN,England,NaN,NaN,NaN,HP,1,1,native,NaN,NaN,monoeng,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1.000000,5.252273
3,4,4.0,2014-05-29,01:01:13,male,19,English,English,0,0,Some Undergrad (higher ed),",WhichEnglish",0,NaN,NaN,0,0,United States,United States,California,NaN,NaN,1,NaN,NaN,1,1,native,Ebonics,NaN,monoeng,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,0,0,1,0,1,1,0,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,0,1,1,0.905263,2.208853
4,5,5.0,2014-05-29,01:01:19,male,20,"Chinese/Mandarin, English","Chinese/Mandarin, English",0,0,High School Degree (12-13 years),",WhichEnglish",0,NaN,NaN,0,0,Singapore,Singapore,NaN,NaN,NaN,NaN,NaN,NaN,1,1,native,NaN,NaN,bileng,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1,1,0,1,1,1,1,1,0,1,1,0.947368,2.800602

In [8]:
len(df1.columns)

128